version: "3.8"

services:
  api:
    build: .
    container_name: sabia-api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - /var/docker/sabia-api/storage:/app/storage

